@model IEnumerable<CAAMarketing.ViewModels.UserVM>

@{
    ViewBag.Title = "User Roles";
}
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
<form asp-action="Index" method="get">
    <div class="container-fluid">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title d-flex justify-content-between align-items-center">
                    <h2>User Role Assignments</h2>
                </div>
                <table class="table table-hover">
                    <tr>
                        <th class="col-lg-3">
                            @Html.DisplayNameFor(model => model.UserName)
                        </th>
                        <th class="col-lg-8">
                            @Html.DisplayNameFor(model => model.UserRoles)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="col-lg-3">
                                @Html.DisplayFor(modelItem => item.UserName)
                            </td>
                            <td class="col-lg-8">
                                @{
                                    foreach (var r in item.UserRoles)
                                    {
                                        @:  @r <br />
                                    }
                                }
                            </td>
                            <td class="col-lg-2">
                               <div class="tooltip"> <a asp-action="Edit" asp-route-id="@item.Id" > <img src="~/images/icons8-edit-24.png" alt="Edit Icon"/> <span class="tooltiptext">Edit</span></a> </div>

                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</form>