@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Resend email confirmation";
}

<div class="wrapper">
    <div class="text-center mt-4 name">
        <h3>@ViewData["Title"]</h3>
        <h2>Enter your email.</h2>
    </div>
    <form class="mt-3" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-field d-flex align-items-center">
            <input asp-for="Input.Email" class="form-control" aria-required="true" placeholder="Emaill" />
            @*<label asp-for="Input.Email" class="form-label"></label>*@
            <span asp-validation-for="Input.Email" class="text-danger far fa-user"></span>
        </div>
        <button type="submit" class="w-100 btn btn-lg btn-primary btn mt-3">Resend</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

