<!-- Modal-->
<div class="modal fade" id="addCategoryModal" tabindex="-1" role="dialog" aria-labelledby="CategoryModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="CategoryModalLabel">Add New Category</h4>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                @{ 
                    var s = new CAAMarketing.Models.Category();
                    <partial name="_CategoryCreate" model="s" />
                }
            </div>
        </div>
    </div>
</div>