@model CAAMarketing.Models.Category
@*<a asp-controller="OrderItems" asp-action="Add" asp-route-ItemID="@item.ID"
                                asp-route-PatientName="@item.Name">*@
<form asp-action="Create" asp-controller="Categories" method="post" id="createCategoryForm">
    <div class="row">
        <div class="col-md-12">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Name:</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" id="submitCategoryCreate" value="Create" class="btn btn-outline-dark" />
            </div>
        </div>
    </div>
</form>