<!-- Modal-->
<div class="modal fade" id="addMissingItemLogModal" tabindex="-1" role="dialog" aria-labelledby="MissingItemLogModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="EventmyModalLabel">Missing Item Log</h3>
                
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                @{
                    var e = new CAAMarketing.Models.MissingItemLog();
                    <partial name="_MissingItemLogCreate" model="e" />
                }
            </div>
        </div>
    </div>
</div>