<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CAAMarketing</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CAAMarketing.styles.css" asp-append-version="true" />
    <script>
        function redirectToEdit(itemId) {
            window.location.href = "/Items/Edit/" + itemId;
        }
    </script>

    <script>
        function redirectToSilenceNotif(itemId1) {
            window.location.href = "/Inventories/SilencingToastrNottifPopup/" + itemId1
        }
    </script>
    <script>
        function redirectToRecoverNotif(itemId2) {
            window.location.href = "/Inventories/RecoveringToastrNottifPopup/" + itemId2
        }
    </script>
    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light @*bg-white*@ navbar-blue border-bottom box-shadow mb-3 ">
            <div class="container-fluid">
                @*<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CAAMarketing</a>*@
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/CAANiagara_RGBVertLogo.png" asp-append-version="true" alt="Logo" class="logo-standard">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse nav-center collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Inventories" asp-action="Index">Inventory</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="InventoryTransfers" asp-action="Index">Transfers</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Office Menu
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Archives" asp-action="Index">Archives</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Events" asp-action="Index">Events</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="EventLogs" asp-action="Index">Event Logs</a></li>
                                    @if (User.IsInRole("Supervisor"))
                                    {
                                        <li><hr class="dropdown-divider"></li>
                                        @*<li><a class="dropdown-item" asp-area="" asp-controller="Orders" asp-action="Index">Orders</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Locations" asp-action="Index">Locations</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Suppliers" asp-action="Index">Suppliers</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Categories" asp-action="Index">Categories</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Events" asp-action="Index">Events</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Equipments" asp-action="Index">Equipments</a></li>*@
                                    }
                                    else if (User.IsInRole("Employee"))
                                    {
                                    <li><hr class="dropdown-divider"></li>
                                    @*<li><a class="dropdown-item" asp-area="" asp-controller="Orders" asp-action="Index">Orders</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Locations" asp-action="Index">Locations</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Suppliers" asp-action="Index">Suppliers</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Categories" asp-action="Index">Categories</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Events" asp-action="Index">Events</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Equipments" asp-action="Index">Equipments</a></li>*@
                                    }
                                    else if (User.IsInRole("Admin"))
                                    {
                                        <li><hr class="dropdown-divider"></li>
@*                                        <li><a class="dropdown-item" asp-area="" asp-controller="Receiving" asp-action="Index">Receiving</a></li>
*@                                        @*<li><a class="dropdown-item" asp-area="" asp-controller="Locations" asp-action="Index">Locations</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Suppliers" asp-action="Index">Suppliers</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Categories" asp-action="Index">Categories</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Events" asp-action="Index">Events</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Equipments" asp-action="Index">Equipments</a></li>

                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="InventoryTransfers" asp-action="Index">Inventory Transfer</a></li>*@

                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="UserRoles" asp-action="Index">User Roles</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Employees" asp-action="Index">Maintain Employees</a></li>
                                    }
                                </ul>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
        @{
            var current = this.ViewContext.RouteData.Values["controller"] as string ?? "Home";

            if (current == "Privacy")
            {
                <div>

                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>
            }
            else
            {
                <div class="container">

                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
            </div>

        }
    }

<footer class="footers">
        
  	 <div class="conts">
        
  	 	<div class="rows">
  	 		<div class="footerc">
                     <small>Copyright &copy; CAAMarketing - 2023</small>
  	 		</div>
  	 	</div>
  	 </div>
  </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @await Component.InvokeAsync("NToastNotify")
    @await Component.InvokeAsync("Notyf")
</body>
</html>
