@model CAAMarketing.Models.Category

@{
    ViewData["Title"] = "Create";
}

<form asp-action="Create">
    <div class="cont">
        <div class="deimage">
            <h1>Create</h1>
            <hr />
            <div class="deimage2">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LowCategoryThreshold" class="control-label">Low Quantity Threshold</label>
                    <input asp-for="LowCategoryThreshold" class="form-control" />
                    <span asp-validation-for="LowCategoryThreshold" class="text-danger"></span>
                </div>
                <div style="margin:25px">
                    <input type="submit" title="Click here to create new Category" value="Create" class="btn btn-primary" />
                    <div class="tooltip"> <a href='@ViewData["returnURL"]'> <img src="~/images/icons8-go-back-24.png" alt="Back Icon" /> <span class="tooltiptext">Back</span></a> </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
