@model CAAMarketing.Models.Category

@{
    ViewData["Title"] = "Edit";
}
<div class="cont">
    <div class="edtext">
        <h1>Edit Category</h1>
        <hr />
        <div class="col-md-12">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="RowVersion" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LowCategoryThreshold" class="control-label"></label>
                    <input asp-for="LowCategoryThreshold" class="form-control" />
                    <span asp-validation-for="LowCategoryThreshold" class="text-danger"></span>
                </div>
                <br />
                <div style="margin:auto;">
                    <input type="submit" title="Click here to save the edits" value="Save" class="btn btn-primary" />
                    <div class="tooltip"> <a asp-action="Index"> <img src="~/images/icons8-go-back-24.png" alt="Back Icon" /> <span class="tooltiptext">Back</span></a> </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
