@model CAAMarketing.Models.Receiving

@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <ul class="progressbar">
        <li class="active">
            <p>Create Item</p>
        </li>
        <li class="active">
            <p>Receive Inventory</p>
        </li>
        <li>
            <p>OverView</p>
        </li>
    </ul>
</div>


<div class="cont">
    <div class="edtext">
        <center><h3>Step 2: </h3></center>
        <h1>Inventory/Recieving</h1>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <form asp-action="Create">
                    
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="ItemID" class="control-label" hidden="hidden"></label>
                        <select asp-for="ItemID" class="form-control" asp-items="ViewBag.ItemID" hidden="hidden"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Quantity" class="control-label"></label>
                        <input asp-for="Quantity" class="form-control" />
                        <span asp-validation-for="Quantity" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DateMade" class="control-label"></label>
                        <input asp-for="DateMade" class="form-control" value="@DateTime.Today.ToString("yyyy-MM-dd")" />
                        <span asp-validation-for="DateMade" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DeliveryDate" class="control-label"></label>
                        <input asp-for="DeliveryDate" class="form-control" />
                        <span asp-validation-for="DeliveryDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Cost" class="control-label"></label>
                        <input asp-for="Cost" class="form-control" />
                        <span asp-validation-for="Cost" class="text-danger"></span>
                    </div>
                    

                    <div class="form-group">
                        
                        <input type="submit" value="Create" class="btn btn-primary" />
                        <div class="tooltip"> <a asp-controller="Inventories" asp-action="Index" > <img src="~/images/icons8-go-back-24.png" alt="Exit Icon"/> <span class="tooltiptext">Exit</span></a> </div>
                    </div>
                    

                </form>
            </div>
        </div>
    </div>
</div> 


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


    <style>
        .container {
            width: 100%;
        }

        .progressbar {
            counter-reset: step;
        }

            .progressbar li {
                list-style: none;
                display: inline-block;
                width: 30.33%;
                position: relative;
                text-align: center;
                cursor: pointer;
            }

                .progressbar li:before {
                    content: counter(step);
                    counter-increment: step;
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    border: 1px solid #ddd;
                    border-radius: 100%;
                    display: block;
                    text-align: center;
                    margin: 0 auto 10px auto;
                    background-color: #fff;
                }

                .progressbar li:after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    background-color: #ddd;
                    top: 15px;
                    left: -50%;
                    z-index: -1;
                }

                .progressbar li:first-child:after {
                    content: none;
                }

                .progressbar li.active {
                    color: green;
                }

                    .progressbar li.active:before {
                        border-color: green;
                    }

                    .progressbar li.active + li:after {
                        background-color: green;
                    }

        }</style>
