@model CAAMarketing.Models.Receiving

@{
    ViewData["Title"] = "Create";
}
<div class="cont" style="padding-top:25px; padding-bottom:25px">
<div class="deimage">
        <h2>Add Order for: @ViewData["ItemName"]</h2><small style="color: red">*Red fields are required</small>
<hr />
        <form asp-action="Add">
            <input type="hidden" name="ItemID" value="@Model.ItemID" />
            <input type="hidden" name="ItemName" value="@ViewData["ItemName"]" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="deimage2">
                <div class="col-md-12">

                    <div class="form-group">
                        <label asp-for="Quantity" class="control-label"></label>
                        <input asp-for="Quantity" class="form-control" required style="border-color: red"/>
                        <span asp-validation-for="Quantity" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DateMade" class="control-label"></label>
                        <input asp-for="DateMade" class="form-control" value="@DateTime.Today.ToString("yyyy-MM-dd")" required style="border-color: red" />
                        <span asp-validation-for="DateMade" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DeliveryDate" class="control-label"></label>
                        <input asp-for="DeliveryDate" class="form-control" required style="border-color: red" />
                        <span asp-validation-for="DeliveryDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Cost" class="control-label"></label>
                        <input asp-for="Cost" class="form-control" required style="border-color: red" />
                        <span asp-validation-for="Cost" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LocationID" class="control-label"></label>
                        <select asp-for="LocationID" class="form-control" asp-items="ViewBag.LocationID" required style="border-color: red"></select>
                        <span asp-validation-for="LocationID" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        </br>
                        <input type="submit" title="Click this to create" value="Create" class="btn btn-primary" /> |
                          <div class="tooltip"> <a href="javascript:history.back()"> <img src="~/images/icons8-go-back-24.png" alt="Back Icon"/> <span class="tooltiptext">Back To Inventory</span></a> </div>
                    </div>

                </div>
            </div>

        </form>
      
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }