@model CAAMarketing.Models.Inventory
<form asp-action="RecoveringToastrNottifPopup" asp-controller="Inventories" id="createNotifForm">
    <div class="row">
        <div class="col-md-12">
            <h4>Would you like to Recover this Notification:</h4>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input  name="ItemIDNum" value="@ViewData["ItemIDNum"]" />

            
            <br />
            <div class="form-group">
                <input type="submit" id="submitNotifCreate" value="Yes" class="btn btn-outline-dark" />

            </div>
        </div>
    </div>
</form>