html {
    font-size: 14px;
}

th {
    text-align: center;
    margin: auto;
}

td {
    text-align: center;
    margin: auto;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.navbar-blue {
    background-color: #305391;
}

.logo-standard {
    max-width: 185px;
    max-height: 65px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar .navbar-nav .nav-link {
    color: white;
    text-decoration: none;
}

    .navbar .navbar-nav .nav-link:hover {
        color: #2196F3;
    }






.tooltip {
    position: relative;
    display: inline-block;
    opacity: 100;
}

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 80px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        /* Position the tooltip */
        position: absolute;
        z-index: 1;
    }

    .tooltip:hover .tooltiptext {
        visibility: visible;
    }

    .tooltip .tooltiptext {
        width: 80px;
        bottom: 100%;
        left: 50%;
        margin-left: -40px; /* Use half of the width (120/2 = 60), to center the tooltip */
    }

        .tooltip .tooltiptext::after {
            content: " ";
            position: absolute;
            top: 100%; /* At the bottom of the tooltip */
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: black transparent transparent transparent;
        }




    .tooltip .tooltiptext {
        opacity: 0;
        transition: opacity 0.5s;
    }

    .tooltip:hover .tooltiptext {
        opacity: 1;
    }


.anav {
    width: 875px;
    margin-left: 260px;
}

.anavlog {
    float: right;
}

.filter-sidebar {
    background-color: #eaeaea;
    padding-top: 10px;
    border-bottom: 5px solid #0d4e97;
    border-left: 5px solid #0d4e97;
    border-right: 5px solid #0d4e97;
}

footer {
    background-color: #eaeaea;
}

.filter-content {
    background-color: #eaeaea;
    height: 100%;
    /*border: 5px solid #0d4e97;*/
}

.card-header {
    /*padding-top:3px;*/
    background-color: #305391;
    color: #fff;
}

.card-body {
    background-color: #eaeaea;
}

.btn-color {
    background-color: #9bb33c;
    color: white;
}

.btn-align-css {
    padding-top: 10px;
}

.btn-primary {
    /*margin-bottom: 15px;*/
}

.btn-filter {
    color: white;
    background-color: #9bb33c;
}

    .btn-filter:hover {
        color:white;
    }

.btn-color-Create {
    color: #305391;
    float: right;
    font-size: 13px;
    background: #eaeaea;
    border: black;
    min-width: 50px;
    border-radius: 2px;
    border: none;
    outline: none !important;
    margin-left: 10px;
}

    .btn-color-Create:hover {
        background-color: #0d6efd;
        color:white;
    }

.wrapper {
    max-width: 350px;
    min-height: 500px;
    margin: 80px auto;
    padding: 40px 30px 30px 30px;
    background-color: #eaeaea;
    border-radius: 15px;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
}

.logo {
    width: 80px;
    margin: auto;
}

    .logo img {
        width: 100%;
        height: 80px;
        object-fit: cover;
        border-radius: 50%;
        box-shadow: 0px 0px 3px #5f5f5f, 0px 0px 0px 5px #ecf0f3, 8px 8px 15px #a7aaa7, -8px -8px 15px #fff;
    }

.wrapper .name {
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 1.3px;
    padding-left: 10px;
    color: #555;
}

.wrapper .form-field input {
    width: 100%;
    display: block;
    border: none;
    outline: none;
    background: none;
    font-size: 1.2rem;
    color: #666;
    padding: 10px 15px 10px 10px;
    /* border: 1px solid red; */
}

.wrapper .form-field {
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
}

    .wrapper .form-field .fas {
        color: #555;
    }

.wrapper .btn {
    box-shadow: none;
    width: 100%;
    height: 40px;
    background-color: #305391;
    color: #fff;
    border-radius: 25px;
    box-shadow: 3px 3px 3px #b1b1b1, -3px -3px 3px #fff;
    letter-spacing: 1.3px;
}

    .wrapper .btn:hover {
        background-color: #039BE5;
    }

.wrapper a {
    text-decoration: none;
    font-size: 0.8rem;
    color: #305391;
}

    .wrapper a:hover {
        color: #039BE5;
    }

@media(max-width: 380px) {
    .wrapper {
        margin: 30px 20px;
        padding: 40px 15px 15px 15px;
    }
}

h1 {
    text-align: center;
}



.thead-light {
    color: black;
}

.btn-link {
    cursor: default;
    text-decoration: none;
}

.hide {
    display: none;
}

.table-responsive {
    margin: 30px 0;
}

.table-wrapper {
    background: #fff;
    /* padding: 20px 25px;*/
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.table-title {
    padding-bottom: 15px;
    background: #305391;
    color: #fff;
    padding: 16px 30px;
    border-radius: 3px 3px 0 0;
}

.div-back {
    font-weight: bold;
    color: #566787;
    display: inline-block;
    text-decoration: none;
}

table.table td a {
    font-weight: bold;
    color: #566787;
    display: inline-block;
    text-decoration: none;
}

table.table td {
    padding: 0;
}

    table.table td a:hover {
        color: #2196F3;
    }

    table.table td a.settings {
        color: #2196F3;
    }

.table-title h2 {
    font-size: 24px;
}

.table-title .btn {
    color: #305391;
    float: right;
    font-size: 13px;
    background: #eaeaea;
    border: black;
    min-width: 50px;
    border-radius: 2px;
    border: none;
    outline: none !important;
    margin-left: 10px;
}

    .table-title .btn:hover {
        background-color: #0d6efd;
        color:white;
    }

.status {
    font-size: 30px;
    vertical-align: middle;
    line-height: 10px;
}

.text-success {
    color: #10c469;
}

.text-info {
    color: #62c9e8;
}

.text-warning {
    color: #FFC107;
}

.text-danger {
    color: #ff5b5b;
}



table.table td a.settings {
    color: #2196F3;
}

@media only screen and (min-width:1440px) {
    .container {
        min-width: 1500px;
    }
}

table.table .avatar {
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
}
/*
@media only screen and (min-width:1024px) {
    .container {
        min-width: 1000px;
    }
}*/









.tblBrder {
    border-bottom: 5px solid #0d4e97;
    border-right: 5px solid #0d4e97;
}

.cont {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eaeaea;
    border-bottom: 1px;
    border-right: 1px;
    border-color: black;
}

    .cont ul {
        padding-left: 0;
    }

.delete {
    justify-content: center;
    background-color: #eaeaea;
    border-bottom: 1px;
    border-right: 1px;
    border-color: black;
    padding: 20px;
}


.detext {
    padding-left: 20px;
    background-color: #eaeaea;
    border-left: 0;
    padding: 20px;
    padding-top: 0;
    width: 950px;
    margin: auto
}

.detext-orderitem {
    padding-left: 20px;
    background-color: #eaeaea;
    border-left: 0;
    padding: 20px;
    padding-top: 0;
    /*width: 950px;*/
    margin: auto
}

.detext h1 {
    padding-bottom: 20px;
    padding-top: 10px;
    text-align: left;
}

.edtext {
    padding-left: 20px;
    background-color: #eaeaea;
    border-left: 0;
    padding: 20px;
    padding-top: 0;
    text-align:center;
}

    .edtext h1 {
        padding-bottom: 20px;
    }

.deimage {
    flex-basis: 50%;
    background-color: #eaeaea;
    margin-right: auto;
    margin-left: auto;
    text-align: center
}

.deimage2 {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
}

cont img {
    padding-left: 25px;
}

.create {
    padding-left: 20px;
    background-color: #eaeaea;
    border-left: 0;
    padding: 20px;
    padding-top: 0;
    width: 950px;
    text-align: center;
    margin: auto
}

    .create h1 {
        padding-bottom: 20px;
        padding-top: 10px;
    }

backed {
}

@media(max-width: 380px) {
    .wrapper {
        margin: 30px 20px;
        padding: 40px 15px 15px 15px;
    }
}









.conts {
    max-width: 1170px;
    margin: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.rows {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
    padding-left: 0;
}

.footers {
    background-color: #eaeaea;
    background-color: #eaeaea;
    position: absolute;
    bottom: 0;
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .footers {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}

.footerc {
    width: 25%;
    padding: 0 15px;
}

    .footerc h4 {
        font-size: 18px;
        color: black;
        text-transform: capitalize;
        margin-bottom: 35px;
        font-weight: 500;
        position: relative;
    }

/* .footerc h4::before {
            content: '';
            position: absolute;
            left: 0;
            bottom: -10px;
            background-color: #305391;
            height: 2px;
            box-sizing: border-box;
            width: 100px;
        }*/

/* .footerc ul li:not(:last-child) {
        margin-bottom: 10px;
    }*/

/*.footerc ul li a {
        font-size: 16px;
        text-transform: capitalize;
        color: black;
        text-decoration: none;
        font-weight: 300;
        color: black;
        display: block;
        transition: all 0.3s ease;
    }*/

/*.footerc ul li a:hover {
            color: #ffffff;
            padding-left: 8px;
        }*/

/*  .footerc .social-links a {
        display: inline-block;
        height: 40px;
        width: 40px;
        background-color: rgba(0,0,0,0.2);
        margin: 0 10px 10px 0;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        color: #ffffff;
        transition: all 0.5s ease;
    }*/

/*.footerc .social-links a:hover {
            color: #24262b;
            background-color: #ffffff;
        }*/

/*responsive*/
@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}



.welcomepagediv1 {
    display: block;
    margin: 0 auto 0 auto;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.65)), url('../images/severance-caa-employees-1200x625.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 500px;
    margin: 0;
    color: white;
}

    .welcomepagediv1 h1 {
        padding-top: 100px;
        text-decoration: underline;
        text-decoration: underline;
    }

.roe {
    overflow: hidden;
    padding: 10px;
    margin:auto;
    text-align:center;
}

.cols {
    float: left;
    width: 35%;
    margin-left: 25px;
    margin-bottom: 2px;
}

.h4-class {
    background-color: #eaeaea;
    text-align: center;
    font-size: 30px;
    padding-bottom: 25px;
}

.btn-color-logout {
    color: black;
}

    .btn-color-logout:hover {
        background-color: #eaeaea;
    }

.homepagediv1 {
    float: left;
    width: 75%;
    background-color: #eaeaea;
    text-align: center;
    padding: 25px;
    margin-top: 25px;
}

.homepagediv2 {
    float: left;
    width: 25%;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

    .homepagediv2 img {
        max-height: 100%;
        max-width: 100%;
        object-fit: contain;
    }

@media(max-width: 1024px) {
    .homepagediv1 {
        float: left;
        width: 75%;
        background-color: #eaeaea;
        text-align: center;
        padding: 25px;
        margin-top: 25px;
    }

    .homepagediv2 {
        float: left;
        width: 25%;
        text-align: center;
        margin-top: 25px;
        margin-bottom: 25px;
    }
}

@media(max-width: 1920px) {
    .homepagediv1 {
        float: left;
        width: 75%;
        background-color: #eaeaea;
        text-align: center;
        padding: 25px;
        margin-top: 75px;
        max-height: 100%;
    }

    .homepagediv2 {
        float: left;
        width: 25%;
        text-align: center;
        margin-top: 25px;
        margin-bottom: 25px;
    }

        .homepagediv2 img {
            height: 250px;
            max-width: 100%;
            object-fit: contain;
        }
}

.colsep {
    margin: 20px;
}
/* for home page*/
.welcomepagediv1 {
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(255, 255, 255, 0.2)), url('../images/CAA-Niagara-TruckFleet-Scroller-3000x750_0.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 50px 0 100px 0;
}

    .welcomepagediv1 h1 {
        margin: 50px 350px 0 350px;
        padding-top: 20px;
        padding-bottom: 20px;
        text-decoration: underline;
        color: white;
        background-color: rgba(125, 125, 125, 0.9)
    }


.rowAct {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 25px;
}

.colAct {
    box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.6);
    background-color: white;
    color: black;
    padding: 1em 2em;
    text-align: center;
    margin: 0 25px 0 25px;
    cursor: pointer;
    position: relative;
}

    .colAct:hover {
        background-color: lightgrey;
    }

.linkSpanner {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

    .linkSpanner:hover {
        /*background-color: lightgrey;*/
    }   
/*FOR STATUS */
